<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetBookInfoByISBN</servlet-name>
        <servlet-class>BooksServletsAndDAO.GetBookInfoByISBN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBooksListByCategoryName</servlet-name>
        <servlet-class>BooksServletsAndDAO.GetBooksListByCategoryName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBooksByAutherName</servlet-name>
        <servlet-class>BooksServletsAndDAO.GetBooksByAuthorName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>UserServletsAndDAO.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBookInfoByISBN</servlet-name>
        <url-pattern>/getBookInfoByISBN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBooksListByCategoryName</servlet-name>
        <url-pattern>/getBooksListByCategoryName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBooksByAutherName</servlet-name>
        <url-pattern>/getBooksByAutherName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
